<h2 class="bigtitle">{{ 'app.models.contacts.contact-us' | t }}</h2>

{% liquid
  if object.id
    assign method = 'put'
  else
    assign method = 'post'
  endif
%}
<div class="container flex flex-wrap mx-auto mt-10 groups-center">
  <form action="/contacts" method="post" class="w-full md:w-2/3">
    {% include 'authenticity_token' %}
    <input type="hidden" name="_method" value="{{method}}" />

    {% if object.id %}
      <input type="hidden" name="contact[id]" value="{{ object.id }}" />
    {% endif %}

    <div class="mb-6 md:flex md:items-start md:mb-10">
      <div class="mb-2 md:mb-0 md:w-56 md:mr-8 md:min-w-0 md:flex-shrink-0">
        <label class="block text-lg font-bold md:text-xl" for="form-properties-attributes-email">
          {{ 'app.models.contacts.form.email' | t }}
        </label>
      </div>
      <div class="md:flex-grow md:min-w-0">
        {% if current_profile %}
          <input type="email" value={{current_profile.user.email}} name="contact[email]" id="form-properties-attributes-email" class="w-full form-input disabled:opacity-50 " aria-describedby="form-properties-attributes-email-desc">
        {% else %}
          <input type="email" value="" name="contact[email]" id="form-properties-attributes-email" class="w-full form-input disabled:opacity-50 " placeholder="Email" required="" aria-describedby="form-properties-attributes-email-desc">
        {% endif %}
      </div>
      {% include 'theme/simple/field_error', errors: object.errors.email %}
    </div>

    <div class="mb-6 md:flex md:items-start md:mb-10">
      <div class="mb-2 md:mb-0 md:w-56 md:mr-8 md:min-w-0 md:flex-shrink-0">
        <label class="block text-lg font-bold md:text-xl" for="form-properties-attributes-reason">
          {{ 'app.models.contacts.form.reason' | t }}
        </label>
      </div>
      <div class="md:flex-grow md:min-w-0">
        <select name="contact[reason]" id="form-properties-attributes-reason" class="w-full form-select disabled:opacity-50 " required="" aria-describedby="form-properties-attributes-reason-desc"><option value="">Select subject...</option>
          <option value="purchase">
            {{ 'app.models.contacts.reasons.purchase' | t }}
          </option>
          <option value="delivery_return_complaint">
            {{ 'app.models.contacts.reasons.delivery' | t }}
          </option>
          <option value="payments">
            {{ 'app.models.contacts.reasons.payments' | t }}
          </option>
          <option value="account">
            {{ 'app.models.contacts.reasons.account' | t }}
          </option>
          <option value="other">
            {{ 'app.models.contacts.reasons.other' | t }}
          </option>
        </select>
      </div>
      {% include 'theme/simple/field_error', errors: object.errors.reason %}
    </div>

    <div class="mb-6 md:flex md:items-start md:mb-10">
      <div class="mb-2 md:mb-0 md:w-56 md:mr-8 md:min-w-0 md:flex-shrink-0">
        <label class="block text-lg font-bold md:text-xl" for="form-properties-attributes-message">
          {{ 'app.models.contacts.form.message' | t }}
        </label>
        <div class="text-sm font-normal">
          {{ 'app.models.contacts.message-explain' | t }}
        </div>
      </div>
      <div class="md:flex-grow md:min-w-0">
        <textarea name="contact[message]" id="form-properties-attributes-message" class="w-full form-textarea disabled:opacity-50 " placeholder="Your Message" required="" rows="8" aria-describedby="form-properties-attributes-message-desc"></textarea>
      </div>
      {% include 'theme/simple/field_error', errors: object.errors.message %}
    </div>

    <div class="mb-6 md:flex md:items-start md:mb-10">
      <div class="mb-2 md:mb-0 md:w-56 md:mr-8 md:min-w-0 md:flex-shrink-0">
        <label class="block text-lg font-bold md:text-xl" for="form-properties-attributes-email">
          {{ 'app.models.contacts.form.dob' | t }}
        </label>
      </div>
      <div class="md:flex-grow md:min-w-0">
        {% if current_profile.dob %}
          <input type="date" value="{{current_profile.dob}}" name="contact[dob]" id="form-properties-attributes-dob" class="w-full form-input disabled:opacity-50 " placeholder="Date of birth" aria-describedby="form-properties-attributes-dob-desc">
        {% else %}
          <input type="date" value="" name="contact[dob]" id="form-properties-attributes-dob" class="w-full form-input disabled:opacity-50 " placeholder="Date of birth" required="" aria-describedby="form-properties-attributes-dob-desc">
        {% endif %}
      </div>
      {% include 'theme/simple/field_error', errors: object.errors.dob %}
    </div>

    <div class="mb-6 md:flex md:items-start md:mb-10">
      <div class="mb-2 md:mb-0 md:w-56 md:mr-8 md:min-w-0 md:flex-shrink-0">
        <label class="block text-lg font-bold md:text-xl" for="form-properties-attributes-reason">
          {{ 'app.models.contacts.form.attributes' | t }}
        </label>
      </div>
      <div class="md:flex-grow md:min-w-0">
        <select name="contact[attribute]" id="form-properties-attributes" class="w-full form-select disabled:opacity-50 " required="" aria-describedby="form-properties-attributes-desc"><option value="">Select attributes...</option>

          {% if current_profile.attribute == "att_one" %}
          <option value="att_one" selected>
            {{ 'app.models.contacts.attributes.att-one' | t }}
          </option>
        {% else %}
          <option value="att_one">
            {{ 'app.models.contacts.attributes.att-one' | t }}
          </option>
        {% endif %}
        
        {% if current_profile.attribute == "att_two" %}
          <option value="att_two" selected>
            {{ 'app.models.contacts.attributes.att-two' | t }}
          </option>
        {% else %}
          <option value="att_two">
            {{ 'app.models.contacts.attributes.att-two' | t }}
          </option>
        {% endif %}

        {% if current_profile.attribute == "att_three" %}
          <option value="att_three" selected>
            {{ 'app.models.contacts.attributes.att-three' | t }}
          </option>
        {% else %}
          <option value="att_three">
            {{ 'app.models.contacts.attributes.att-three' | t }}
          </option>
        {% endif %}    
          

        </select>
      </div>
      {% include 'theme/simple/field_error', errors: object.errors.reason %}
    </div>

    <p class="md:ml-64">
      <button class="button">
       {{ 'app.models.contacts.form.submit' | t }}
      </button>
    </p>
  </form>
</div>
